/* styles */
/* .top-rated {
  float: none;
  margin: 0 auto;
} */

.current-movie {
  display: none;
}

.image-wrapper {
  width: 100%;
}

.result-image,
.my-list-image,
.now-playing-image,
.top-rated-image,
.upcoming-image,
.popular-image {
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.col.target {
  padding-right: 0;
  padding-left: 0;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('/static/images/slider1.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background: url('/static/images/slider2.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.carousel-image-3 {
  background: url('/static/images/slider3.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-image-4 {
  background: url('/static/images/slider4.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.carousel-image-5 {
  background: url('/static/images/slider5.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('/static/images/film.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#main-footer {
  background: #000;
  color: #fff;
}

.about-img {
  margin-top: -50px;
}

#team i {
  padding: 5px;
}

#main-footer a,
.fa-linkedin,
.fa-github-square {
  color: white;
}

#main-footer a:hover,
.fa-linkedin:hover,
.fa-github-square:hover {
  color: grey;
}

.my-movies,
.movie-gallery,
.now-playing,
.popular,
.upcoming,
.top-rated {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.search-wrapper,
.movie-wrapper {
  width: 15% !important;
  margin: 10px;
  justify-content: space-between;
  background: #000000;
  border: none;
}

.my-movie-list {
  width: 15% !important;
  margin: 10px;
  justify-content: space-between;
  border: none;
}
