{% extends "layout.html" %} {% block content %}

<!-- ABOUT HEADER -->
  <header id="main-header" class="py-2 bg-danger text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-question-circle"></i> About</h1>
        </div>
      </div>
    </div>
  </header>

<!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class='mt-4 pt-4'>What We Do</h1>
          <p>Cinemite was created so that people could have a reference list of all the movies they love.
          You can find movies by browsing through our list of categories as well as search for films if you already know what you want.
          You can share your opinions of those movies and read other people's reviews by going to the movie's details page.
          </p>
          <h4>Find out about our team below!</h4>
        </div>
        <div class="col-md-6">
          <img src="/static/images/popcorn.jpg" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
        </div>
      </div>
    </div>
  </section>

  <!-- ICON BOXES -->
  <section id="icon-boxes" class="py-5 text-center">
    <div class="container">
    <h1 class="pb-3">Technologies Used</h1>
    </hr>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-film fa-3x"></i>
              <h3>TMDB</h3>
              This is the API we used to gather info on all your favorite movies.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fab fa-python fa-3x"></i>
              <h3>Python</h3>
              Used to construct our 'back end' processes.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fab fa-js fa-3x"></i>
              <h3>Javascript</h3>
              Used to make our front end API calls and add dynamic interfaces.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fab fa-bootstrap fa-3x"></i>
              <h3>Bootstrap</h3>
              Used to add custom classes and styling to our page.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fa fa-database fa-3x"></i>
              <h3>SQLite</h3>
              Used to build our database of users, comments, and movie lists.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fab fa-github fa-3x"></i>
              <h3>Github</h3>
              Used as a collaboration environment where we can edit and share code.
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- meet the team -->
<section id="team" class="py-5 text-center bg-dark text-white">
  <div class="container">
    <h1>Meet The Team</h1>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <img
          src="/static/images/tiffany.jpeg"
          alt=""
          class="img-fluid rounded-circle mb-2"
        />
        <h4>Tiffany Teaze</h4>
        <p>Tiffany’s passion for web development started when she was a teenager building fan sites for her favorite bands. The past eight years she’s spent helping customers troubleshoot their technical products have helped her develop the problem solving skills required for building applications like Cinemite.</p>
        <a href="https://www.linkedin.com/in/tiffanyteaze/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/tiffanyteaze" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
      <div class="col-md-4">
        <img
          src="/static/images/joe.jpeg"
          alt=""
          class="img-fluid rounded-circle mb-2"
        />
        <h4>Joe Baker</h4>
        <p>Joe is a Full Stack Web Developer living in the San Francisco Bay Area. With a background in both Information Systems Management and Web Development, he thrives on tackling interesting problems. He's spent the past six months honing his skills so he can develop sites just like this one.</p>
        <a href="https://www.linkedin.com/in/joelucasbaker/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/josephlbaker" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
      <div class="col-md-4">
        <img
          src="/static/images/isaac.jpeg"
          alt=""
          class="img-fluid rounded-circle mb-2"
        />
        <h4>Isaac Chang</h4>
        <br />
        <p>Isaac Chang is a 25-year-old General Assembly student who enjoys football, cooking, and binge-watching shows on Netflix. He is energetic, resourceful, and has a passion for plugins.</p>
        <br />
          <a href="https://www.linkedin.com/in/isaacchang5/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/meltedopen" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
    </div>
  </div>
</section>



{% endblock %}
