{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
    <form method="POST" action="{{url_for('update_user', userid=current_user.id)}}" class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4>Edit Profile</h4>
            </div>
        <div class="card-body">
            {{ form.hidden_tag() }}
            {% for field in form %}
            <div class="profile-style">{{ render_field(field) }}</div>
            {% endfor %}
            <button type="submit" id="submit">Edit Profile</button>
        </div>
        </div>
        </div>
        </div>
        </div>
    </form>

{% endblock %}
