{% extends "layout.html" %} {% from 'macros.html' import render_field %} {%
block content %}

<!-- EDIT USER HEADER -->
<header id="main-header" class="py-2 bg-danger text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-cog"></i> Edit Profile</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a
          href="{{ url_for('user', username=current_user.username) }}"
          class="btn btn-light btn-block"
        >
          <i class="fas fa-arrow-left"></i> Back To My Profile
        </a>
      </div>
    </div>
  </div>
</section>

<section id="profile">
  <div class="container py-4 mb-4">
    <div class="row">
      <div class="col-md-9">
        <div class="card mb-5">
          <div class="card-header">
            <h4>Edit Profile</h4>
          </div>
          <div class="card-body">
            <form method="POST" action="">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class_="form-control") }}
              </div>
              <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class_="form-control") }}
              </div>
              <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_=" form-control ") }}
              </div>

              <input
                type="submit"
                id="submit"
                value="Save"
                class="btn btn-success btn-block"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
