{% extends "layout.html" %} {% block content %}

<!-- START CAROUSEL -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block"></div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block"></div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5"></div>
        </div>
      </div>

      <div class="carousel-item carousel-image-4">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block"></div>
        </div>
      </div>

      <div class="carousel-item carousel-image-5">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block"></div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
<!-- END CAROUSEL -->

<!-- landing icons -->
<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-search fa-3x mb-2"></i>
        <h3>Browse Movies</h3>
        <p>
          Browse all films on the Cinemite database and see their rating.
        </p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-ticket-alt fa-3x mb-2"></i>
        <h3>Save Movies</h3>
        <p>
          Add movies to your watchlist to remember them in the future.
        </p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-film fa-3x mb-2"></i>
        <h3>Review Movies</h3>
        <p>
          You can share your opinion of the films by writing a review!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- landing heading -->
<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
        <br />
          <h1>Are you ready?</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- info section -->
<section id="info" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Getting Started</h3>
        <p>
          Sign up for an account to get started! You can sort movies by: Now Playing, Upcoming, Highest Rated, and Popular. Once you see a movie you like, add it to your Watch List so you can keep track of all the movies you want to watch. Click View Details to get a more detailed description of the movie where you can write a review for everyone to see.
        </p>
      </div>
      <div class="col-md-6">
        <img src="/static/images/movie.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<!-- NEWSLETTER -->
<section id="newsletter" class="text-center p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Sign Up For Our Newsletter</h1>
        <p>
        Sign up to receive news and updates for all your favorite movies.
        </p>
        <form class="form-inline justify-content-center">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            placeholder="Enter Name"
          />
          <input
            type="text"
            class="form-control mb-2 mr-2"
            placeholder="Enter Email"
          />
          <button class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
