<!DOCTYPE html>
<html>
  <head>
    <title>Cinemite</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
      <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand">Cinemite</a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="{{ url_for('index') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('movies') }}" class="nav-link">Movies</a>
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('list', username=current_user.username) }}"
                class="nav-link"
                >My List</a
              >
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('user', username=current_user.username) }}"
                class="nav-link"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('login') }}" class="nav-link">Log In</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('logout') }}" class="nav-link">Log Out</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('register') }}" class="nav-link">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--  
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>  -->
    <!-- end nav bar -->

    <h1>
      {% if current_user.is_authenticated %} Hello
      {{ current_user.username }} {%endif%}
    </h1>

    <div class="col">
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %} {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    <div class="col target">
      {% block content %}{% endblock %}
    </div>

    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>Copyright &copy; <span id="year"></span> Cinemite</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="../static/scripts/app.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
