{% extends "layout.html" %}

{% block content %}
{% for item in list %}
<div class="card list-item-div" data-id={{ item.movie_id }} style="width: 18rem;">
  <time data-time="{{ item.timestamp }}" class="distime"
    datetime="{{ item.timestamp.strftime('%Y-%m-%d %H:%M') }}">{{ item.timestamp.strftime('%Y-%m-%d %H:%M') }}</time>
  <h5 class="card-title"><a class="btn btn-primary"
      href="{{ url_for('list', username=item.user_id.username) }}">{{ item.user_id.username }}</a></h5>
  <div class="card-body">
    <p class="card-text">Movie</p>
  </div>
</div>
{% endfor %}

<script>
  let myListItems = [];
  $(document).ready(function(){
    let items = $('.list-item-div')

    for (let i = 0; i < items.length; i++) {
      myListItems.push(items[i].attributes['data-id']['value']);
    }

    $.ajax({ url: "list.html",
           context: document.body,
           success: function(){
              console.log(myListItems)
           }});
    });
</script>
{% endblock %}
