{% extends "layout.html" %}

{% block content %}

 <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Your Saved Movies</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, temporibus?</p>
        </div>
      </div>
    </div>
  </header>

  <section id="list" class="py-5">
    <div class="container-fluid">
      <div class='row'>
        <div class='row'>
        
          {% for item in list %}
          <div class="card" data-id={{ item.movie_id }} style="width: 15rem;">
            <div class="image-wrapper"></div>
            <form action="{{ url_for('delete', movieid=item.movie_id, userid=item.user) }}" method=post class=delete-movie>
              <input type=hidden value="{{item.movie_id}}"name=movieid</input>
              <input type=hidden value="{{item.user}}"name=userid</input>
              <input type=submit value="Delete"></input>
            </form>
            <form action="{{ url_for('update', movieid=item.movie_id, userid=item.user) }}" method=post class=update-movie>
              <input type=hidden value="{{item.movie_id}}"name=movieid</input>
              <input type=hidden value="{{item.user}}"name=userid</input>
              <input type=submit value="Watched"></input>
            </form>
            <form action="{{ url_for('movie', movieid=item.movie_id) }}" method=get class=get-movie>
              <input type=hidden value="{{item.movie_id}}"name=movieid</input>
              <input type=submit class="movie-details"value="View Details"></input>
            </form>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </section>


<script>
  let myListItems = [];
  $(document).ready(function(e){

    let items = $('.card')

    for (let i = 0; i < items.length; i++) {
      myListItems.push(items[i].attributes['data-id']['value']);
    }

    for(let i = 0; i < myListItems.length; i++) {
      $.ajax({
        method: 'GET',
        url: `https://api.themoviedb.org/3/movie/${myListItems[i]}?api_key=bcd90145aa0a9afa766db2577135dbf4`,
        success: function (response) {
          let img = $(`<img class="my-list-image" movie-id="${myListItems[i]}" />`);
          let url = "https://image.tmdb.org/t/p/w500" + response.poster_path
          img.attr("src", url)

          for (let j = 0; j < items.length; j++) {
            if (myListItems[i] === items[j].getAttribute('data-id')) {
              $(items[j]).children()[0].append(img[0]);
            }
          }
          return myListItems[i];
        },
        error: function(error) {
          console.log(error);
        }
      });
    };
  });
</script>
{% endblock %}
