{% extends "layout.html" %}

{% from 'macros.html' import render_field %}


{% block content %}


<!-- LOGIN -->
<section id="login">
  <div class="container my-5 py-5">
    <div class="row py-5 my-5">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Account Login</h4>
          </div>
          <div class="card-body">
            <form method="POST" action="">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class_="form-control") }}
              </div>
              <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_=" form-control ") }} 
              </div>

              <input
                type="submit"
                id="submit"
                value="Login"
                class="btn btn-danger btn-block"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


