{% extends "layout.html" %} {% block content %}

<!-- START CAROUSEL -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Heading One</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nulla
              sit totam aspernatur eos placeat pariatur dicta suscipit quia qui!
            </p>
            <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3">Heading Two</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nulla
              sit totam aspernatur eos placeat pariatur dicta suscipit quia qui!
            </p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Heading Three</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nulla
              sit totam aspernatur eos placeat pariatur dicta suscipit quia qui!
            </p>
            <a href="#" class="btn btn-success btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
<!-- END CAROUSEL -->

<!-- MOVIE SEARCH -->
<div class="row">
  <div class="col-sm-4">
    <form class="form-inline search">
      <label>Search Movies</label>
      <input
        type="text"
        class="form-control movie-input"
        name="q"
        placeholder="search movies"
      />
      <input
        type="hidden"
        name="api_key"
        value="bcd90145aa0a9afa766db2577135dbf4"
      />
      <input type="submit" value="Go!" class="btn btn-primary" />
    </form>
  </div>
  <div class="col-sm-8">
    <div class="movie-gallery"></div>
  </div>
</div>
<!-- END SEARCH -->

<!-- START MOVIE GALLERY-->
<section id="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">Movies</h1>
    <p class="text-center">Check out our movies</p>
    <div class="row mb-2">
      <div class="col-sm-2">
        <a
          href="https://source.unsplash.com/random/560x560"
          data-gallery="img-gallery"
          data-height="560"
          data-width="560"
        ></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
