{% extends "layout.html" %} {% block content %}

<!-- MOVIES HEADER -->
  <header id="main-header" class="py-2 mb-3 bg-danger text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-play-circle"></i> Now Playing</h1>
        </div>
      </div>
    </div>
  </header>

<!-- MOVIE SEARCH RESULTS -->
<div id="search" class= "container-fluid row movie-gallery">
</div>

<!-- START MOVIE GALLERY-->
<div class="container-fluid">
  <div class="row now-playing"></div>
</div>

<!-- <div class="row mb-4">
      <div class="col-sm-2 upcoming"></div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-2 popular"></div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-2 top-rated"></div>
    </div>
 -->

<!-- NEWSLETTER -->
<section id="newsletter" class="text-center p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Sign Up For Our Newsletter</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          asperiores consectetur, quae ducimus voluptates vero repellendus
          architecto maiores recusandae mollitia?
        </p>
        <form class="form-inline justify-content-center">
          <input
            type="text"
            class="form-control mb-2 mr-2"
            placeholder="Enter Name"
          />
          <input
            type="text"
            class="form-control mb-2 mr-2"
            placeholder="Enter Email"
          />
          <button class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  let key = `bcd90145aa0a9afa766db2577135dbf4`;
  $(document).ready(function(e) {
    // Now Playing Movies AJAX call
    $.ajax({
      method: 'GET',
      url: `https://api.themoviedb.org/3/movie/now_playing?api_key=${key}&language=en-US&page=1`,
      success: function(response) {
        console.log(`Now Playing:`);
        console.log(response);
        response.results.map(child => {
          let movieId = child.id;
          let card = $(`<div class="card movie-wrapper"/>`);
          let img = $(`<img class="now-playing-image" />`);
          let imgWrapper = $(`<div class="image-wrapper" />`);
          let btn = $(
            `<input class="now-playing-button btn btn-dark btn-block" type=submit value="Add To List" data-id="${movieId}"></input>`
          );
          let url = 'https://image.tmdb.org/t/p/w500' + child.poster_path;
          let nowPlaying = $('.now-playing');
          img.attr('src', url);
          imgWrapper.append(img);
          card.append(imgWrapper, btn)
          nowPlaying.append(card);
          return movieId;
        });
      },
      error: function(error) {
        console.log(error);
      }
    });
  });

    $('.now-playing').on('click', '.now-playing-button', function(e) {
      console.log("You clicked on a movie")
      let clickedMovieId = e.target.getAttribute('data-id');
      $(this).val('Added').attr('disabled', true);

      $.ajax({
        method: 'POST',
        url: `http://localhost:8000/movie/${clickedMovieId}`,
        success: function(res) {
          console.log(`Clicked Movie ID was successfully added to DB: ${res}`);
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
</script>

{% endblock %}
